button, .button {
    background-color: var(--textColor);
    color: white;
    
    display: inline-flex;
    align-items: center;
    height: 48px;
    padding: 1rem 1.5rem;
    border-radius: 24px;
    font-size: 1.125rem;
    line-height: 1rem;
    font-weight: 600;
    text-transform: none;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
        background-color: rgba(26, 26, 26, 0.85);
    }
}
