ul, ol {
  font-size: var(--fluid-0);
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

li > {

    ul,
    ol {
        margin-left: var(--spacing-medium);
        margin-bottom: 0;
    }

}

section.list {
  margin: var(--spacing-xx-large) 0;
}
