<footer class="site-footer" role="contentinfo">
    <div class="site-footer__inner container">
        <p><span>Design & code &copy; {{ build.timestamp | dateToFormat('yyyy') }} Matthias Ott</span></p>
    </div>
</footer>
