<header class="site-header" role="banner">
    <div class="site-header__container">
        <div class="site-header__left">
            <p><strong>Eleventy Plus Vite</strong></p>
        </div>
        <div class="site-header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
