.site-footer {
    &__container {
        position: relative;
        max-width: calc(var(--columnPaddingNormal)*2 + var(--layoutWidth));
        margin: 0 auto;
        padding: var(--columnPaddingNormal);

        display: block;

        @media(min-width: 60em) {
            padding: calc(2 * var(--columnPaddingNormal));
        }
    }

    a {
        font-weight: bold;
        text-decoration: underline;
        color: inherit;
    }
}
