.site-header {
    
    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: var(--container-max-width);
        margin: 0 auto;
        padding: 2rem 1rem; // fallback
        padding: clamp(var(--spacing-x-small), 4vw, var(--spacing-x-large)) clamp(var(--spacing-medium), 3.75vw, var(--spacing-x-large));
    }

    .nav--primary {
        
        ul {
            font-size: var(--fluid-2);
            margin: 0.75rem 0;
        }
        
        a {
            display: block;
            padding: 0.25em 0;
        }
    }
}
