/* -----------------------------------------------------------------------------
  This is the place for shameful CSS solutions. 
  (Also see: https://csswizardry.com/2013/04/shame-css/)
  
  Make sure to document all those nasty hacks with comments:
 
   1. What part of the codebase does it relate to?
   2. Why was this needed?
   3. How does this fix it?
   4. How might you fix it properly, given more time?
 
  ----------------------------------------------------------------------------- 
*/
