/* 1. Settings */
@use '../../../node_modules/cssremedy/css/remedy';
@use "1-settings/global";
  
/* 2. Design Tokens */
@use "2-design-tokens/colors";
@use "2-design-tokens/fonts";
@use "2-design-tokens/media-queries";
@use "2-design-tokens/spacing";
@use "2-design-tokens/typography";

/* 3. Tools */
@use "3-tools/aspect-ratio";
@use "3-tools/accessibility";
@use "3-tools/clearfix";

/* 4. Generic */
@use "4-generic/normalize";
@use "4-generic/print";

/* 5. Elements */
@use "5-elements/body";
@use "5-elements/buttons";
@use "5-elements/forms";
@use "5-elements/headings";
@use "5-elements/images";
@use "5-elements/links";
@use "5-elements/lists";
@use "5-elements/paragraphs";

// 6. Skeleton
@use "6-skeleton/grid";
@use "6-skeleton/layouts";
@use "6-skeleton/objects";

// 7. Components
@use "7-components/header";
@use "7-components/footer";
@use "7-components/postlist";

// 8. Utilities
@use "8-utilities/modifiers";
@use "8-utilities/states";

/* Shame on you! */
@use "shame";
