/**
 *  Spacing
 */
:root {
    --spacing-none: 0;

    --spacing-xx-small:  0.25rem;
    --spacing-x-small:   0.5rem;
    --spacing-small:     0.75rem;
    --spacing-medium:    1rem;
    --spacing-large:     1.5rem;
    --spacing-x-large:   2rem;
    --spacing-xx-large:  6rem;

    --container-max-width: 80rem;
}
