/**
 *  Typography design tokens: Font-sizes, line-height, etc. 
 */

 /**
  * Fluid type scale based on Utopia (https://utopia.fyi)
  */
 :root {
    --fluid-min-width: 320;
    --fluid-max-width: 1500;
    --fluid-min-size: 18;
    --fluid-max-size: 22;
    --fluid-min-ratio: 1.2;
    --fluid-max-ratio: 1.5;
  }
  
  :root {
    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) / ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16)));
  }
  
  @media screen and (min-width: 1500px) {
    :root {
      --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
  }
  
  :root {
    --fluid-min-scale-0: var(--fluid-min-ratio);
    --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
    --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
    --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
    --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
    --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);

    --fluid-max-scale-0: var(--fluid-max-ratio);
    --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
    --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
    --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
    --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
    --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);

    --fluid-min-size-0: (var(--fluid-min-size)) / 16;
    --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
    --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
    --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
    --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
    --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;

    --fluid-max-size-0: (var(--fluid-max-size)) / 16;
    --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
    --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
    --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
    --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
    --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;

    --fluid-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
    --fluid-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
    --fluid-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
    --fluid-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));
    --fluid-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));
    --fluid-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));
  }
