---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container">
    <h1>Eleventy Plus Vite. Rien n’est plus vite. <br>🏃💨</h1>
    <p>A simple, fast – and a little bit opinionated – starter project for <a href="https://www.11ty.dev">Eleventy</a>.</p>
    <p>By <a href="https://matthiasott.com">Matthias Ott</a>.</p>
</div>
