---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container">
  
    <h1>Eleventy Plus Vite. Rien n’est plus vite. <br>🏃💨</h1>
    <p>A simple, fast – and a little bit opinionated – starter project for <a href="https://www.11ty.dev">Eleventy</a>.</p>
    <p>By <a href="https://matthiasott.com">Matthias Ott</a>.</p>
    <p>Code on <a href="http://github.com/matthiasott/eleventy-plus-vite"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021.798-.221 1.649-.332 2.496-.336.849.004 1.701.115 2.496.336 1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"/>
            </svg> Github
          </a>
      </p>
    <section class="list">
      <h2>Features</h2>
        <ul dir="auto">
          <li>Eleventy 2.0.1</li>
          <li>New Eleventy 2.0 Dev Server with live reload</li>
          <li>Vite 5.1 as Middleware in Eleventy Dev Server (uses <a href="https://github.com/11ty/eleventy-plugin-vite/">eleventy-plugin-vite</a>)</li>
          <li>Eleventy build output is post-processed by <a href="https://vitejs.dev" rel="nofollow">Vite</a> (with Rollup)</li>
          <li>CSS/Sass post-processing with PostCSS incl. <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a> and cssnano</li>
          <li>Uses <a href="https://matthiasott.com/notes/how-i-structure-my-css" rel="nofollow">my own opinionated CSS/Sass structure</a></li>
          <li>Critical CSS, generated and inlined via <a href="https://github.com/nystudio107/rollup-plugin-critical">rollup-plugin-critical</a>. The main CSS file is then loaded asynchronously with <a href="https://www.filamentgroup.com/lab/load-css-simpler/" rel="nofollow">Scott Jehl’s <code>media</code> loading strategy</a> (adds <code>media="print"</code> and swaps to <code>media="all"</code> once loaded)</li>
          <li>Example implementation of a web font loading strategy (<a href="https://www.zachleat.com/web/comprehensive-webfonts/#critical-foft-preload" rel="nofollow">critical FOFT with preload</a>)</li>
          <li>Basic fluid typography based on <a href="https://utopia.fyi" rel="nofollow">Utopia</a></li>
          <li>Basic dark mode support (using <code>prefers-color-scheme</code> and CSS Custom Properties)</li>
          <li>Polyfill for <a href="https://matthiasott.com/notes/focus-visible-is-here" rel="nofollow">focus-visible</a></li>
          <li>RSS feed 🧡</li>
          <li>XML sitemap</li>
          <li>Four Hundos Lighthouse score 💯💯💯💯</li>
        </ul>
    </section>
</div>
