---
layout: base
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
---

<div class="container">
    <h1>Posts</h1>
    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
</div>

