<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }}</title>

	<link rel="preload" as="style" href="/assets/css/main.scss">
	<link rel="preload" as="script" href="/assets/js/main.js">

    <link rel="stylesheet" href="/assets/css/main.scss">
    {% include "meta.njk" %}

    <!-- Font loading: Critical FOFT with preload, see: https://www.zachleat.com/web/comprehensive-webfonts/#critical-foft-with-preload -->
    <script>
	(function() {
		if( "fonts" in document ) {
			// Optimization for Repeat Views
			if( sessionStorage.fontsLoadedCriticalFoftPreload ) {
				document.documentElement.className += " fonts-loaded-2";
				return;
			}

			document.fonts.load("1em LatoSubset").then(function () {
				document.documentElement.className += " fonts-loaded-1";

				Promise.all([
					document.fonts.load("400 1em 'DM Sans'"),
					document.fonts.load("700 1em 'DM Sans'"),
					document.fonts.load("italic 1em 'DM Sans'"),
					document.fonts.load("italic 700 1em 'DM Sans'")
				]).then(function () {
					document.documentElement.className += " fonts-loaded-2";

					// Optimization for Repeat Views
					sessionStorage.fontsLoadedCriticalFoftPreload = true;
				});
			});
		}
	})();
	</script>
</head>
<body>
    <a href="#main" class="skiplink">Skip to main content</a>

    <div class="layout" role="document">
        {% include "header.njk" %}
        <main id="main" class="main">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </div>

    <script type="module" defer src="{{ '/assets/js/main.js' | url }}"></script>
    <!--<script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/serviceworker.js')
        }
    </script>-->
</body>
</html>
